    <% @articles.each do |article| %>
      <article class="white-panel">
      	<% if article.cover.nil? || article.cover.empty? %>
      		<div class="embed-responsive embed-responsive-16by9">
      			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= article.youtube %>" allowfullscreen></iframe>
      		</div>
      	<%else%>
      		<img src="<%= article.cover %>" alt="">
      	<% end %>
        	<h4><a href="#"><%= article.name %></a></h4>
        	<p><%= raw article.sinopsis %></p>
      </article>
    <% end %>