    <% @articles.each do |article| %>
      <article class="white-panel"><img src="<%= article.cover %>" alt="">
        <h4><a href="#"><%= article.name %></a></h4>
        <p><%= article.body %></p>
      </article>
    <% end %>
