/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Passion+One:400,700';

html { 
	height: 100%;
background: url(../BG-horizon.jpg) no-repeat fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

header.hero {
  display: table;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 991px) {
  header.hero {
    margin-top: 65px;
  }
}

@media (min-width: 992px) {
  header.hero {
    height: calc(100% - 65px);
  }
}

header.hero:before {
  position: absolute;
  content: '';
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

header.hero .pattern-overlay {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-pattern.png');
  background-repeat: repeat;
}

header.hero .hero-body {
  position: relative;
  z-index: 15;
  display: table-cell;
  vertical-align: middle;
  padding: 80px 30px;
}

@media (min-width: 480px) {
  header.hero .hero-body {
    padding: 100px 50px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body {
    padding: 50px 200px 50px 200px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body {
    padding: 0px 330px 0px 330px;
  }
}

header.hero .hero-body .hero-text {
  color: rgba(255, 255, 255, 0.9);
}

header.hero .hero-body .hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 68px;
  }
}

header.hero .hero-body .hero-text h1.small {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 66px;
  }
}

header.hero .hero-body .hero-text h1.small > span.blinker {
  position: relative;
}

header.hero .hero-body .hero-text h1.small > span.blinker:before {
  position: absolute;
  top: 50%;
  left: 8px;
  content: '';
  width: 2px;
  height: 30px;
  margin-top: -15px;
  background-color: #ffffff;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    left: 10px;
    width: 3px;
    height: 40px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    width: 3px;
    height: 50px;
    margin-top: -25px;
  }
}

header.hero .hero-body .hero-text p {
  margin-top: 10px;
  font-size: 20px;
}

header.hero .hero-body .hero-text .page-scroll {
  margin-top: 40px;
}


.custom-navbar li{
      list-style: none;
      margin: 0;
      padding: 0;
      width: 20%;
      display: block;
      text-align: center;
      float: left;
}

.custom-navbar a{
	font-family: 'Passion One', cursive;
	font-size: 2em;
	text-shadow: 1px 1px black, -1px -1px #333;
	color: white;
}

.social-navbar li i{
	font-size: 2em;
	text-shadow: 1px 1px black, -1px -1px #333;
	color: white;
}
.social-navbar li{
	list-style: none;
      margin: 0;
      padding: 0;
      width: 30%;
      display: block;
      text-align: center;
      float: left;
}
.social-navbar li i{
	font-size: 2em;
	text-shadow: 1px 1px black, -1px -1px #333;
	color: white;
}

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: black;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel h4 a{
  color: yellow;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-bottom{
  width: 10%;
  height: auto;
}
