<div class="custom-navbar col-lg-12" '>
  <nav>
    <ul>
		<li><a href='<%= root_path %>'>NEWS</a></li>
		<li><a href='#'>REVIEWS</a></li>
		<li><a href='#'>UNBOXING</a></li>
		<li><a href='#'>GAMEPLAYS</a></li>
		<li><a href='#'>CONTACTO</a></li>
	</ul>
	</nav>
</div>
<div class="social-navbar col-lg-4 col-lg-offset-4">
	<nav>
		<li><center><i class="fa fa-facebook-square" aria-hidden="true"></i></center></li>
		<li><center><i class="fa fa-twitter-square" aria-hidden="true"></i></center></li>
		<li><center><i class="fa fa-instagram" aria-hidden="true"></i></center></li>
	</nav>
</div>